<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiFavs</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <a href="/"> Back to Main</a>    
    </header>
    <main>
        <h2>Your Favourite Digimons</h2>
        <p>Total Favourites: <%= digifav.length%></p>
        <% digifav.forEach(data=>{ %>
            <section class="digistyle">
                <img src="<%=data.digimg%>" alt="digipic">
                <h4>Digimon Name: <%= data.diginame%></h4>
                <p>DigiLevel:<%= data.digilevel%></p>
                <form action="/details/<%=data.id%>">
                <button>View Details</button>
                </form>
            </section>
        <% }) %>
    </main>
</body>
</html>